<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ayush.medicine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications_black_24dp" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".FirstPage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:parentActivityName=".FirstPage">
        </activity>
        <activity
            android:name=".LogIn"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:parentActivityName=".FirstPage">
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:parentActivityName=".LogIn" >
        </activity>
        <activity
            android:name=".GetImage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".GalleryImage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".GetImage">
        </activity>
        <activity
            android:name=".homepage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TapImage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Quantity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Delivery"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Test"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        AndroidManifest.xml
    </application>
</manifest>